span{
/*display:none;*/
font-size:22px
}
#container {
    width: 700px;
    margin: 0 auto;
}
#page {
    font-size: 150%;
    text-align: center;
    padding: 20px;
    border: 10px solid #4c285d;
    background-color: violet;
}
#zew{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    background-color: #ccccff;
}
#wew{
    width: 60%;
    height: 100px;
    background-color: blue;
    margin: 30px auto;
}
#page1 {
    font-size: 150%;
    text-align: center;
    padding: 20px;
    border: 10px solid #4c285d;
    background-color: violet;
}
#page2 {
    font-size: 150%;
    text-align: center;
    padding: 20px;
    border: 10px solid #4c285d;
    background-color: violet;
}#page3 {
     font-size: 150%;
     text-align: center;
     padding: 20px;
     border: 10px solid #4c285d;
     background-color: violet;
 }
#container2 {
    width: 700px;
    margin: 0 auto;
}
#container3 {
    width: 700px;
    margin: 0 auto;
}
#container4 {
    width: 700px;
    margin: 0 auto;
}
#container5 {
    width: 700px;
    margin: 0 auto;
}
.prostokat{
    border: 10px solid black;
    width: 150px;
    height: 100px;
    background: orange;
    margin: 0 20px;
    /*float: left;*/
}
#pierwszy2{
    background: blue;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    left: 50px;
    top: 200px;
    position: absolute;
}
#drugi2{
    background: red;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    left: 50px;
    top: 300px;
    position: absolute;
}

#container6{
    width: 700px;
    margin: 0 auto;
}
#page6{
    font-size: 150%;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}
h4 {
    text-align: left;
}